# Основной env не закидывается, будет закидываться только пример env файла
.env

# Логи
logs/
*.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules
frontend/dist
frontend/build
frontend/.github
frontend/.gitignore
frontend/out
*.syso
.next
.hidden
package.json.md5