.join-section
    display: flex
    flex-direction: column
    gap: 1rem

.join-section__title
    display: block
    margin-bottom: 10px

.join-section__description
    font-size: 0.7rem
    color: grey

.join-section__available-tables-list
    padding: 1rem
    border-top: 1px solid #e0e0e0a4 // FIXME: Импорт не работает
    border-bottom: 1px solid #e0e0e0a4

    display: flex
    flex-direction: column
    gap: 10px

.multiple-table-selector__option
    margin: 4px,
    padding: 6px 12px,
    borderRadius: 16px,

.sql-output
    display: flex
    flex-direction: column
    justify-content: left
    gap: 1rem

.sql-output__output
    fontSize: 0.5rem,
    padding: 12px
    background: #f5f5f5,
    borderRadius: 8px,
    marginTop: 10px,
    fontFamily: monospace,
    whiteSpace: pre-wrap,
    wordWrap: break-word,
