.filter-card
    background-color: grey
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center

.delete-filter-button
    padding: 0
    transition: transform 200ms ease-in-out
    &:hover
        transform: translateY(3px)
